@import "../../styles/scale-function";

.homepage__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	@include scaleMargin(2rem, 1rem, 0, 1rem, 1280px);
}
