@import "../../styles/colors";
@import "../../styles/scale-function";

.login {
	background-image: linear-gradient(
			rgb(133, 7, 217, 0.75),
			rgb(21, 1, 45, 0.75)
		),
		url("../../assets/login/login_background_image.jpg");
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;

	@media screen and (max-width: 460px) {
		background-image: linear-gradient(
				rgb(133, 7, 217, 0.75),
				rgb(21, 1, 45, 0.75)
			),
			url("../../assets/login/login_background_image_mobile.jpg");
		background-size: cover;
		background-position: right;
		background-repeat: no-repeat;

		@media screen and (max-width: 1280px) {
			flex-direction: column !important;
			justify-content: center !important;
			align-items: center !important;
		}
	}

	.login__container {
		padding-bottom: 0 !important;

		@media screen and (max-width: 1280px) {
			flex-direction: column !important;
		}
		.login__container__left {
			width: 55%;

			@media screen and (max-width: 1280px) {
				padding-bottom: 2rem;
			}

			img {
				@include scaleWidth(452px, 1280px);
				@include scaleMargin(1rem, 0, 0, 0, 1280px);

				@media screen and (max-width: 1280px) {
					width: 280px;
				}
			}
			p {
				@include scaleWidth(452px, 1280px);
				color: $white-color;
				font-weight: 400 !important;
				@include scaleFontSize(1.25rem, 1280px);

				@media screen and (max-width: 1280px) {
					width: 280px;
					font-size: 1rem;
				}
			}
			.cyborg {
				@media screen and (max-width: 1280px) {
					display: none;
				}
			}
		}

		.login__container__right {
			width: 45%;

			span {
				color: $white-color;
				text-align: center;
				@include scaleFontSize(1rem, 1280px);
				@include scalePadding(0, 0, 3rem, 0, 1280px);

				@media screen and (max-width: 1280px) {
					padding: 0 !important;
					width: 280px;
				}
			}

			img {
				display: none;
				@media screen and (max-width: 1280px) {
					display: flex;
					justify-content: center;
					width: 280px;
				}
			}
		}
	}
}

.login__spinner__container {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(10, 1, 25, 0.75);
	z-index: 99;
	transition: all 0.3s ease-in-out;

	.login__spinner {
		@include scaleTransformScale(1, 1280px);
	}
}
