@import "../../../styles/scale-function";
@import "../../../styles/colors";

.register__container {
	.input__error-border {
		border: 1px solid $error-color !important;
	}

	i {
		position: absolute !important;
		@include scaleMargin(1rem, 0, 0, 15rem, 1280px);
		@include scaleTransformScale(0.8, 1280px);
	}

	.input__error {
		position: relative;
		text-align: left;
		color: $error-color;
		@include scaleWidth(280px, 1280px);
		@include scaleFontSize(0.75rem, 1280px);
	}
}
