/*----------COLOR PALLETE----------*/

//Main color pallete
$medium-purple: #8507d9;
$dark-purple-1: #3b0273;
$dark-purple-2: #0a0119;
$light-purple-1: #be6cff;
$white-color: #ffffff;
$gray-color: #777777;

//Shadows
$shadow-1: rgba(0, 0, 0, 0.2);
$shadow-2: rgba(0, 0, 0, 0.1);
$shadow-3: rgba(0, 0, 0, 0.3);
$shadow-inset: rgba(255, 255, 255, 0.5);
