/*----------COLOR PALLETE----------*/

//Main color pallete
$medium-purple: #8507d9;
$dark-purple-1: #3b0273;
$dark-purple-2: #0a0119;
$light-purple-1: #be6cff;
$white-color: #ffffff;
$gray-color: #777777;

//Actions
$error-color: #b94a48;
$error-color-2: #ff7775;
$success-color: #29f300;
