/*----------COLOR PALLETE----------*/

//Main color pallete
$medium-purple: #8507d9;
$dark-purple-1: #3b0273;
$dark-purple-2: #0a0119;
$light-purple-1: #be6cff;
$light-purple-2: #d39eff;
$white-color: #ffffff;
$gray-color: #777777;
$light-gray: #acacac;
$light-gray-2: #e7e7e7;
$light-gray-3: #f5f5f5;

//Actions
$error-color: #b94a48;
$error-color-2: #ff7775;
$success-color: #29f300;
