@import "../../styles/colors";
@import "../../styles/scale-function";

.header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	@media screen and (max-width: 680px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@include scalePadding(0rem, 2rem, 0, 2rem, 1280px);
	@media screen and (max-width: 680px) {
		padding: 0 1rem 0 1rem;
	}
	@include scaleHeight(3rem, 1280px);
	background-color: $dark-purple-1;

	width: 100%;

	/*-----HEADER-LEFT-----*/
	.header__left {
		.header__logo {
			img {
				@include scaleWidth(2rem, 1280px);
			}
		}

		.header__search-container {
			@include scaleHeight(2rem, 1280px);
			@include scaleWidth(226px, 1280px);
			background-color: $white-color;
			@include scaleBorderRadius(0.5rem, 1280px);
			@include scalePadding(0, 1rem, 0, 1rem, 1280px);

			@media screen and (max-width: 1080px) {
				width: 2rem;
				border-radius: 16rem;
			}

			img {
				@include scaleWidth(1rem, 1280px);
				cursor: pointer;
			}

			input {
				background-color: transparent;
				border: transparent;
				font-family: "Montserrat", sans-serif;
				@include scaleFontSize(1rem, 1280px);
				color: $dark-purple-1;
				outline: none;
				width: 100%;

				@media screen and (max-width: 1080px) {
					display: none;
				}

				&::placeholder {
					color: $light-gray;
					border: none;
				}
			}
		}
	}

	/*-----HEADER-MIDDLE-----*/

	.header__middle {
		@media screen and (max-width: 880px) {
			transform: translateX(-20%);
		}
		@media screen and (max-width: 680px) {
			display: none;
		}

		.header__home {
			@include scaleWidth(128px, 1280px);
			height: 100%;
			cursor: pointer;

			@media screen and (max-width: 1280px) {
				width: 96px;
			}
			@media screen and (max-width: 880px) {
				width: 64px;
			}

			&:hover {
				background-color: $medium-purple;
				transition: all 0.3s ease-out;
			}
		}
		.header__friends {
			@include scaleWidth(128px, 1280px);
			height: 100%;
			cursor: pointer;

			@media screen and (max-width: 1280px) {
				width: 96px;
			}
			@media screen and (max-width: 880px) {
				width: 64px;
			}

			&:hover {
				background-color: $medium-purple;
				transition: all 0.3s ease-out;
			}
		}
		.header__videos {
			@include scaleWidth(128px, 1280px);
			height: 100%;
			cursor: pointer;

			@media screen and (max-width: 1280px) {
				width: 96px;
			}
			@media screen and (max-width: 880px) {
				width: 64px;
			}

			&:hover {
				background-color: $medium-purple;
				transition: all 0.3s ease-out;
			}
		}
		.header__groups {
			@include scaleWidth(128px, 1280px);
			height: 100%;
			cursor: pointer;

			@media screen and (max-width: 1280px) {
				width: 96px;
			}
			@media screen and (max-width: 880px) {
				width: 64px;
			}

			&:hover {
				background-color: $medium-purple;
				transition: all 0.3s ease-out;
			}
		}
		img {
			@include scaleHeight(1.5rem, 1280px);
		}
	}

	/*-----HEADER-RIGHT-----*/
	.header__right {
		justify-content: flex-end;
		img {
			@include scaleHeight(2rem, 1280px);
			cursor: pointer;
		}
		.header__profile {
			.header__profile-icon {
				@include scaleBorderRadius(8rem, 1280px);
			}
			span {
				@include scaleFontSize(1rem, 1280px);
				font-weight: 600;
				color: $white-color;
				@media screen and (max-width: 1080px) {
					display: none;
				}
			}
		}
	}

	/*----NOTIFICATION-----*/
	.notification-2digits {
		position: absolute;
		@include scaleMargin(0, 0, 1.5rem, 2rem, 1280px);
		@include scalePadding(0.25rem, 0.25rem, 0.25rem, 0.25rem, 1280px);
		@include scaleBorderRadius(4rem, 1280px);
		color: $white-color;
		background-color: $light-purple-1;
		font-weight: 600;
		@include scaleFontSize(0.5rem, 1280px);
	}

	.notification-1digit {
		position: absolute;
		@include scaleMargin(0, 0, 1.5rem, 2rem, 1280px);
		@include scalePadding(0.25rem, 0.4rem, 0.25rem, 0.4rem, 1280px);
		@include scaleBorderRadius(4rem, 1280px);
		color: $white-color;
		background-color: $light-purple-1;
		font-weight: 600;
		@include scaleFontSize(0.5rem, 1280px);
	}

	/*----SEARCH-MENU-DROP-DOWN-----*/
	.search__area {
		position: absolute;
		background-color: $dark-purple-1;
		@include scaleHeight(400px, 1280px);
		@include scalePadding(0.5rem, 1rem, 0.5rem, 1rem, 1280px);
		@include scaleBoxShadow(2px, 2px, 8px, 0, 1280px);
		@include scaleBorderRadius(0.5rem, 1280px);
		transform: all 0.3s ease-out;
		-webkit-font-smoothing: antialiased;
		z-index: 1;

		img {
			@include scaleWidth(1rem, 1280px);
			cursor: pointer;
		}
	}

	.search__history-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		color: $white-color;
		@include scalePadding(1rem, 0, 1rem, 0, 1280px);
		@include scaleFontSize(1rem, 1280px);
		font-weight: 600;

		span {
			color: $white-color;
			@include scaleFontSize(1rem, 1280px);
		}
		a {
			cursor: pointer;
			color: $light-purple-2;
		}

		.search__history {
			width: 100%;
		}
	}

	.cursor-default {
		cursor: default !important;
	}
}
.user__menu {
	position: absolute;
	@include scaleMargin(2rem, 4rem, 0, 0, 1280px);
}
