@import "./styles/app-button-size.scss";
@import "./styles/app-flex.scss";
@import "./styles/app-font-size.scss";
@import "./styles/app-gap.scss";
@import "./styles/app-wrapper.scss";
@import "./styles/colors.scss";
@import "./styles/reset.scss";
@import "./styles//icons/icons.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
	font-family: "Montserrat", sans-serif;
}

.button-purple {
	color: $white-color;
	font-weight: 600;
	background-image: linear-gradient(#be6cff, #8507d9);
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

.button-white {
	color: $medium-purple;
	font-weight: 600;
	background-color: $white-color;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

.width100 {
	width: 100%;
}
