@import "../../../styles/colors";
@import "../../../styles/scale-function";

.white-blur {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.8);
	z-index: 99;
	width: 100vw !important;
	height: 100vh !important;
	border-radius: 0;
}
.create-post {
	.create-post__container {
		background-color: $dark-purple-1;
		@include scaleWidth(440px, 1280px);
		@include scaleHeight(228px, 1280px);

		@include scaleBorderRadius(0.5rem, 1280px);
		@include scalePadding(1rem, 1rem, 1rem, 1rem, 1280px);

		.create-post__header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			h2 {
				color: $white-color;
			}

			img {
				@include scaleWidth(1rem, 1280px);
			}
		}
		.create-post__splitter {
		}
		.create-post__profile {
			img {
				border-radius: 50%;
				@include scaleWidth(2rem, 1280px);
			}
			span {
				color: $white-color;
				font-weight: 600;
				@include scaleFontSize(1rem, 1280px);
			}
		}
		.create-post__text-area {
			width: 100%;
			height: 100%;
			textarea {
				width: 100%;
				height: 100%;
				@include scaleBorderRadius(0.5rem, 1280px);
				@include scalePadding(1rem, 1rem, 1rem, 1rem, 1280px);
				color: $dark-purple-1;
				resize: none;

				&::placeholder {
					@include scaleFontSize(1rem, 1280px);
					font-family: "Montserrat", 1280px;
					color: $light-gray;
				}

				&:focus {
					border: 0px transparent;
				}
			}
		}

		.create-post__footer {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;

			span {
				@include scaleFontSize(0.875rem, 1280px);
				color: $white-color;
				font-weight: 400;
			}

			img {
				cursor: pointer;
				@include scaleWidth(1rem, 1280px);
			}
		}

		.create-post__emojis {
			position: absolute !important;
			@include scaleMargin(-8rem, 0, 0, 1rem, 1280px);
			transition: all 0.1s ease-in-out;
			animation: up 0.2s ease-in-out;

			.emoji-picker {
			}
		}
	}
}

@keyframes up {
	0% {
		opacity: 0;
		transform: scale(0.8);
		transform: translateY(50px);
	}
	50% {
		opacity: 0.5;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
		transform: translateY(0px);
	}
}
