@import "../../../styles/colors";
@import "../../../styles/scale-function";

.home__left-container {
	@include scaleWidth(274px, 1280px);
	@media screen and (max-width: 1280px) {
		width: 240px;
	}
	@media screen and (max-width: 880px) {
		width: auto;
	}
	@media screen and (max-width: 680px) {
		display: none;
	}

	.home__left-container__profile {
		justify-content: center !important;
		img {
			@include scaleWidth(2rem, 1280px);
			border-radius: 50%;
		}
		span {
			@include scaleFontSize(1rem, 1280px);
			color: $dark-purple-1;
			font-weight: 700;
			@media screen and (max-width: 880px) {
				display: none;
			}
		}
	}
	.home__left-container__item {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		.left__icon__container {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			@include scaleWidth(2rem, 1280px);
			img {
				@include scaleHeight(1.25rem, 1280px);
			}
		}
		span {
			color: $dark-purple-1;
			@include scaleFontSize(1rem, 1280px);
			font-weight: 600;
			@media screen and (max-width: 880px) {
				display: none;
			}
		}
	}
	h3 {
		@media screen and (max-width: 880px) {
			display: none;
		}
	}
}

.home__left-container__splitter {
	@include scaleHeight(0.5px, 1280px);
	@include scaleWidth(274px, 1280px);
	@media screen and (max-width: 1280px) {
		width: 240px;
	}
	@media screen and (max-width: 880px) {
		display: none;
	}
	background-color: $light-gray-2;
}

.home__left-container__copyright {
	color: $gray-color;
	@include scaleFontSize(0.75rem, 1280px);
	bottom: 0;
	@include scaleMargin(0, 0, 1rem, 0, 1280px);
	position: absolute !important;
}
