@import "../../../../styles/colors";
@import "../../../../styles/scale-function";

.white-blur {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.8);
	z-index: 99;
	width: 100vw !important;
	height: 100vh !important;
	border-radius: 0;
}
.create-post {
	.create-post__container {
		background-color: $dark-purple-1;
		@include scaleWidth(440px, 1280px);
		height: auto;
		@include scaleBorderRadius(0.5rem, 1280px);
		@include scalePadding(1rem, 1rem, 1rem, 1rem, 1280px);

		.create-post__header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			h2 {
				color: $white-color;
			}

			img {
				@include scaleWidth(1rem, 1280px);
			}
		}
		.create-post__splitter {
		}
		.create-post__profile {
			img {
				border-radius: 50%;
				@include scaleWidth(2rem, 1280px);
			}
			span {
				color: $white-color;
				font-weight: 600;
				@include scaleFontSize(1rem, 1280px);
			}
		}
		.create-post__text-area {
			width: 100%;
			height: 100%;
			textarea {
				width: 100%;
				height: auto;
				@include scaleBorderRadius(0.5rem, 1280px);
				@include scalePadding(1rem, 1rem, 1rem, 1rem, 1280px);
				color: $dark-purple-1;
				resize: none;

				&::placeholder {
					@include scaleFontSize(1rem, 1280px);
					font-family: "Montserrat", 1280px;
					color: $light-gray;
				}

				&:focus {
					border: 0px transparent;
				}
			}
		}

		.create-post__footer {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;

			span {
				@include scaleFontSize(0.875rem, 1280px);
				color: $white-color;
				font-weight: 400;
			}

			img {
				cursor: pointer;
				@include scaleWidth(1rem, 1280px);
			}
		}
	}

	.image-preview__container {
		@include scaleMaxHeight(240px, 1280px);
		overflow: hidden;
		overflow-y: auto;
		input {
			width: 100%;
		}
		width: 100%;
		background-color: $light-gray-3;
		@include scalePadding(1rem, 1rem, 1rem, 1rem, 1280px);
		@include scaleBorderRadius(0.5rem, 1280px);
		cursor: pointer;

		span {
			@include scaleFontSize(0.875rem, 1280px);
			font-weight: 700;
			color: $dark-purple-1;
		}
		h4 {
			@include scaleFontSize(0.875rem, 1280px);
			font-weight: 400;
			color: $dark-purple-1;
		}

		.add-image {
			width: 100%;
			height: 100%;

			img {
				@include scaleWidth(1.5rem, 1280px);
			}
		}

		.image-preview__images {
			cursor: default;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
