@import "../../styles/colors";
@import "../../styles/scale-function";

.register {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: $white-color;
	@include scaleBoxShadow(0px, 0px, 16px, 8px, 1280px);
	@include scaleBorderRadius(0.5rem, 1280px);
	@include scalePadding(2rem, 2rem, 2rem, 2rem, 1280px);
	width: 328px;

	@media screen and (min-width: 1280px) {
		@include scaleWidth(360px, 1280px);
	}

	.register__container {
		width: 100%;
		input {
			border: 1px solid transparent;
			width: 100%;
			@include scaleHeight(3rem, 1280px);
			@include scaleBorderRadius(0.25rem, 1280px);
			@include scalePadding(1rem, 1rem, 1rem, 1rem, 1280px);
			@include scaleBoxShadow(0px, 0px, 8px, 0, 1280px);
			@include scaleWidth(280px, 1280px);

			font-family: "Montserrat";
			@include scaleFontSize(1rem, 1280px);
			color: $gray-color;

			&::placeholder {
				color: $gray-color;
				@include scaleFontSize(1rem, 1280px);
			}
		}
	}

	.register__form__header {
		position: relative;
		@include scaleWidth(280px, 1280px);
		span {
			text-align: left !important;
			font-weight: 700;
			@include scaleFontSize(2rem, 1280px);
			color: $medium-purple;
		}

		p {
			@include scaleFontSize(1rem, 1280px);
			color: $dark-purple-2;
		}

		i {
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;
			@include scaleTransformScale(1, 1280px);
		}
	}

	.register__form__inputs {
		@include scaleMargin(1rem, 0, 1.5rem, 0, 1280px);
	}

	.register__form__gender {
		@include scaleMargin(1rem, auto, 0, auto, 1280px);
		@include scaleWidth(280px, 1280px);
	}

	button {
		@include scaleMargin(1rem, 0, 0, 0, 1280px);
		width: 100%;
		@include scaleBoxShadow(0px, 0px, 8px, 0, 1280px);
	}
}

.blur {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(10, 1, 25, 0.75);
	z-index: 99;
}

.input__error {
	position: relative;
	text-align: left;
	color: $error-color;
	@include scaleWidth(280px, 1280px);
	@include scaleFontSize(0.75rem, 1280px);
}

/*----------Error and Success Styles---------*/
.error_text {
	position: relative;
	text-align: left;
	color: $error-color;
	@include scaleWidth(280px, 1280px);
	@include scaleFontSize(0.75rem, 1280px);
	@include scaleMargin(1rem, 0, 0, 0, 1280px);
}

.success_text {
	position: relative;
	text-align: left;
	color: $medium-purple;
	@include scaleWidth(280px, 1280px);
	@include scaleFontSize(0.75rem, 1280px);
	@include scaleMargin(1rem, 0, 0, 0, 1280px);
}
/*----------Error and Success Styles---------*/

.login__spinner__container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(10, 1, 25, 0.75);
	z-index: 99;
	transition: all 0.3s ease-in-out;

	.login__spinner {
		@include scaleTransformScale(1, 1280px);
	}
}
